:root {
    --black: #222222;
    --white: #E5E5E5;
    --gray: #F8F8F8;
    --blue: #1466a6;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: var(--black);
    background-color: #FFFFFF;
}

.container {
    margin: 0 auto;
    width: 1140px;
}

.header {
    background-color: var(--blue);
}

.header__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-bottom: 32px;
}

.header__title {
    color: var(--white);
    font-size: 27px;
    font-weight: 400;
    line-height: 30px;
}

.cart-search__box {
    position: relative;
}

.cart__button {
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: var(--blue);
    text-decoration: none;
    width: 138px;
    height: 43px;
    background-color: white;
}

.cart__button:hover {
    border: none;
    background-color: var(--black);
    color: #FFFFFF;
    cursor: pointer;
}

.cart__list {
    color: var(--black);
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
    box-shadow: 0px 0px 8px -2px #9F9F9F;
    background-color: white;
    position: absolute;
    top: 80px;
    left: -107px;
    z-index: 9999;
    min-width: 500px;
}

.cart__item-heading {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin: 16px 0px 8px 12px;
}

.cart__message {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin: 16px 0px 8px 12px;
}

.cart__item:first-child {
    margin-bottom: 12px;
}

.cart__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: .5px solid #9F9F9F;
}

.cart__item:last-child {
    border: none;
}

.cart__item-box1 {
    display: flex;
}

.cart__img-box {
    width: 150px;
}

.cart__img {
    max-width: 100%;
    padding: 5px;
}

.cart__item-title {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin: 16px 0 24px 18px;
}

.cart__item-price {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: var(--blue);
    margin: 0 0 6px 18px;
}

.cart__item-count {
    margin: 0 0 18px 18px;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: #9F9F9F;
}

.cart__item-box2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 32px;
}

.cart__item-sum {
    color: var(--blue);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.cart__item-remove {
    border: none;
    color: white;
    background-color: var(--black);
    font-size: 25px;
    width: 35px;
    height: 35px;
}

.cart__item-remove:hover {
    cursor: pointer;
    background-color: var(--blue);
}

.goods__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.goods__item {
    width: 24%;
    margin-bottom: 30px;
    background-color: var(--gray);
}

.goods__img-box {
    width: 100%;
    position: relative;
}

.goods__img-box:hover::before {
    content: '';
    background-color: #3A3838DB;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.goods__img {
    width: 100%;
}

.goods__cart-button {
    display: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background: none;
    text-decoration: none;
    width: 138px;
    height: 43px;
}

.goods__cart-button:hover {
    color: var(--blue);
    border: 1px solid var(--blue);
    cursor: pointer;
}

.goods__cart-button:hover>.goods__cart-icon {
    fill: var(--blue);
}

.goods__img-box:hover .goods__cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.goods__cart-icon {
    fill: #FFFFFF;
}

.goods__cart-button>span {
    margin-left: 13px;
}

.goods__item-title {
    margin: 24px 0 12.5px 18px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
}

.goods__item-text {
    margin: 0 24px 18px 18px;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: #9F9F9F;
}

.goods__item-price {
    margin: 0 0 20px 18px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--blue);
}

.btn-search {
    background-color: transparent;
    border: none;
    color: #fafafa;
    font-size: 1.2em;
    position: absolute;
    bottom: 5px;
    right: 0;
}

.search-form {
    position: relative;
    margin-right: 50px;
    display: inline-block;
}

.search-field:focus {
    outline: none;
}

.search-field {
    box-sizing: border-box;
    width: 200px;
    color: #fafafa;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fafafa;
}